<center>
<img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg" alt="TMDB Logo" class="center" height="50">

# TMDB Project Part 3

</center>

## Creating an SQL Database

### Data Contributions

This data has been downloaded from The Movie Database (TMDB) which is a community built movie and TV database. 

Link to TMDB Database: [Click Here](https://datasets.imdbws.com/)

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

### Upload Data

In [2]:
# Open basics dataset and preview
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [3]:
# Open ratings dataset and preview
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1969
1  tt0000002            5.8       263
2  tt0000005            6.2      2612
3  tt0000006            5.1       181
4  tt0000007            5.4       818

In [4]:
# Open api dataset and preview
api_results = pd.read_csv("Data/tmdb_results_combined.csv.gz", low_memory = False)
api_results.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.326,1187.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.536,124.0,PG-13

## Filtering Data for Database

### Title Basics Required Information

- Movie ID (tconst)
- Primary Title
- Start Year
- Runtime (in Minutes)
- Genres

In [5]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81710 entries, 0 to 81709
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81710 non-null  object
 1   titleType       81710 non-null  object
 2   primaryTitle    81710 non-null  object
 3   originalTitle   81710 non-null  object
 4   isAdult         81710 non-null  int64
 5   startYear       81710 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81710 non-null  int64
 8   genres          81710 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.6+ MB

In [6]:
# dropping columns not wanted
basics_columns_todrop = ['titleType','originalTitle','isAdult','endYear']
basics.drop(columns=basics_columns_todrop,inplace=True)

In [7]:
#create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002.0,126,Drama,[Drama]
...,...,...,...,...,...,...
81705,tt9914942,Life Without Sara Amat,2019.0,74,Drama,[Drama]
81706,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81707,tt9916170,The Rehearsal,2019.0,51,Drama,[Drama]
81708,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81709,tt9916362,Coven,2020.0,92,"Drama,History","[Drama, History]"

In [8]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama,Drama
...,...,...,...,...,...,...
81708,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Action
81708,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Adventure
81708,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Thriller
81709,tt9916362,Coven,2020.0,92,"Drama,History",Drama
81709,tt9916362,Coven,2020.0,92,"Drama,History",History

In [9]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [10]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres

          tconst genres_split
0      tt0035423       Comedy
0      tt0035423      Fantasy
0      tt0035423      Romance
1      tt0062336        Drama
2      tt0069049        Drama
...          ...          ...
81708  tt9916190       Action
81708  tt9916190    Adventure
81708  tt9916190     Thriller
81709  tt9916362        Drama
81709  tt9916362      History

[153095 rows x 2 columns]

In [11]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [12]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
#drop genres_split column
title_genres.drop(columns='genres_split',inplace=True)

In [13]:
genres = pd.DataFrame({'Genre Name':genre_map.keys(),'Genre ID':genre_map.values()})
genres.head()

  Genre Name  Genre ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [14]:
#drop genres_split and genres from basics column
basics.drop(columns=['genres_split','genres'],inplace=True)

### Ratings Required Information

- Movie ID (tconst)
- Average Movie Rating
- Number of Votes

In [15]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497874 entries, 0 to 497873
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         497874 non-null  object
 1   averageRating  497874 non-null  float64
 2   numVotes       497874 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB

### API Info Required
- Movie ID
- Revenue
- Budget
- Certification (MPAA Rating)

In [16]:
api_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2565 entries, 0 to 2564
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2565 non-null   object
 1   adult                  2563 non-null   float64
 2   backdrop_path          1395 non-null   object
 3   belongs_to_collection  204 non-null    object
 4   budget                 2563 non-null   float64
 5   genres                 2563 non-null   object
 6   homepage               171 non-null    object
 7   id                     2563 non-null   float64
 8   original_language      2563 non-null   object
 9   original_title         2563 non-null   object
 10  overview               2513 non-null   object
 11  popularity             2563 non-null   float64
 12  poster_path            2306 non-null   object
 13  production_companies   2563 non-null   object
 14  production_countries   2563 non-null   object
 15  release_date           2544 non-null   object
 16  revenue                2563 non-null   float64
 17  runtime                2563 non-null   float64
 18  spoken_languages       2563 non-null   object
 19  status                 2563 non-null   object
 20  tagline                1099 non-null   object
 21  title                  2563 non-null   object
 22  video                  2563 non-null   float64
 23  vote_average           2563 non-null   float64
 24  vote_count             2563 non-null   float64
 25  certification          815 non-null    object
dtypes: float64(9), object(17)
memory usage: 521.1+ KB

In [17]:
columns_to_keep = ['imdb_id','revenue','budget','certification']
api_results = api_results[columns_to_keep]
api_results.head(2)

     imdb_id     revenue      budget certification
0          0         NaN         NaN           NaN
1  tt0035423  76019048.0  48000000.0         PG-13

### Creating SQL Dataset

Table Requirements:
- title_basics
- title_ratings
- title_genres
- genres
- tmdb_data

### Create Database

In [18]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "movies"

connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [19]:
#create the database using variable for the actual name
create_database(connection)

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'movies'; database exists")
[SQL: CREATE DATABASE movies CHARACTER SET = 'utf8']
(Background on this error at: https://sqlalche.me/e/14/f405)

In [20]:
#verify if database was created
database_exists(connection)

True

### Add Tables to Dataset

#### title_basics Table

In [21]:
basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
runtimeMinutes      int64
dtype: object

In [22]:
#calculate max string lengths for object columns
basics_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()

In [23]:
from sqlalchemy.types import *
## Create a schema dictonary using Sqlalchemy datatype objects
basics_schema = {
    "tconst": String(basics_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [24]:
#adding table to database with dtypes
basics.to_sql('title_basics',engine,dtype=basics_schema,if_exists='replace',index=False)

81710

In [25]:
#selecting primary key
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

#### title_ratings Table

In [26]:
ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [27]:
#calculate max string lengths for object columns
ratings_len = ratings['tconst'].fillna('').map(len).max()

In [28]:
## Create a schema dictonary using Sqlalchemy datatype objects
ratings_schema = {
    "tconst": String(ratings_len+1), 
    "averageRating": Float(),
    'numVotes':Integer()}

In [29]:
#adding to table to database with dtypes
ratings.to_sql('title_ratings', engine,dtype=ratings_schema, if_exists='replace',index=False)

497874

In [30]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

#### title_genres Table

In [31]:
title_genres.dtypes

tconst      object
genre_id     int64
dtype: object

In [32]:
#adding to table to database
title_genres.to_sql('title_genres', engine, if_exists = 'replace')

153095

#### genres Table

In [33]:
genres.dtypes

Genre Name    object
Genre ID       int64
dtype: object

In [34]:
## adding table to database AND Setting index and use index=True (only for integer primary key)
genres.set_index('Genre ID').to_sql('genres',engine,index=True,if_exists = 'replace')

26

#### tmdb_data

In [35]:
api_results.dtypes

imdb_id           object
revenue          float64
budget           float64
certification     object
dtype: object

In [36]:
#calculate max string lengths for object columns
imdb_len = api_results['imdb_id'].fillna('').map(len).max()
cert_len = api_results['certification'].fillna('').map(len).max()

In [37]:
## Create a schema dictonary using Sqlalchemy datatype objects
api_schema = {
    "imdb_id": String(imdb_len+1), 
    "certification": Text(cert_len+1),
    'revenue':Float(),
    'budget':Float()}

In [38]:
#adding table to database with dtypes
api_results.to_sql('tmdb_data', engine,dtype=api_schema, if_exists = 'replace',index=False)

2565

In [39]:
#selecting primary key
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'tmdb_data.PRIMARY'")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [40]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data