<center>
<img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg" alt="TMDB Logo" class="center" height="50">

# TMDB Project Part 3

</center>

## Creating an SQL Database

### Import Libraries

In [ ]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

### Data Contributions

This data has been downloaded from The Movie Database (TMDB) which is a community built movie and TV database. 

Link to TMDB Database: [Click Here](https://datasets.imdbws.com/)

### Import Libraries

In [ ]:
import pandas as pd
import numpy as np

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

### Upload Data

In [ ]:
# Open basics dataset and preview
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

In [ ]:
# Open ratings dataset and preview
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

In [ ]:
# Open api dataset and preview
api_results = pd.read_csv("Data/tmdb_results_combined.csv.gz", low_memory = False)
api_results.head()

## Filtering Data for Database

### Title Basics Required Information

- Movie ID (tconst)
- Primary Title
- Start Year
- Runtime (in Minutes)
- Genres

In [ ]:
basics.info()

In [ ]:
#dropping columns not wanted
basics_columns_todrop = ['titleType','originalTitle','isAdult','endYear']
basics.drop[columns=basics_columns_todrop, inplace=True]

In [ ]:
#create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

In [ ]:
exploded_genres = basics.explode('genres_split')
exploded_genres

In [ ]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [ ]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres

In [ ]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

In [ ]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
#drop genres_split column
title_genres = title_genres.drop(columns='genres_split',inplace=True)
title_genres

In [ ]:
genres = pd.Dataframe({'Genre Name':genre_map.keys(),'Genre ID':genre_map.values()})
genres.head()

In [ ]:
#drop genres_split and genres from basics column
basics = basics.drop(columns=['genres_split','genres'],inplace=True)
title_genres

### Ratings Required Information

- Movie ID (tconst)
- Average Movie Rating
- Number of Votes

In [ ]:
ratings.info()

### Creating SQL Dataset

Table Requirements:
- title_basics
- title_ratings
- title_genres
- genres
- tmdb_data

### Create Database

In [ ]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "movies"

connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
engine

In [ ]:
#create the database using variable for the actual name
create_database(connection)

In [ ]:
#verify if database was created
database_exists(connection)

### Add Tables to Dataset

In [ ]:
basics.dtypes

In [ ]:
#calculate max string lengths for object columns
basics_len = basics['tconst'].fillna('').map(len).max()

In [ ]:
from sqlalchemy.types import *
## Create a schema dictonary using Sqlalchemy datatype objects
basics_schema = {
    "tconst": String(basics_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [ ]:
#adding table to database with dtypes
basics.to_sql('title_basics',engine,dtype=basics_schema,if_exists='replace',index=False)

In [ ]:
ratings.dtypes

In [ ]:
#adding to table to database
ratings.to_sql('title_ratings', engine, if_exists = 'replace')

In [ ]:
title_genres.dtypes

In [ ]:
#adding to table to database
title_genres.to_sql('title_genres', engine, if_exists = 'replace')

In [ ]:
genres.dtypes

In [ ]:
#adding to table to database
genres.to_sql('genres', engine, if_exists = 'replace')

In [ ]:
api_results.dtypes

In [ ]:
#adding to table to database
api_results.to_sql('tmdb_data', engine, if_exists = 'replace')

In [ ]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)